{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block login %}
    <div class="row">
        <div class="col-md-12">
            {{ include('@FOSUser/Security/login_content.html.twig') }}
        </div>
    </div>
{% endblock%}
 {% block home %}
     <div class="col-md-6">
         <div class="list-group">
             <a href="{{ url('fos_user_registration_register') }}" class="list-group-item">Register</a>
             {% block ul %}{% endblock %}
         </div>
     </div>
 {% endblock %}