{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block register %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>
{% endblock %}
{% block home %}{% endblock %}